*{
    margin: 0;
    font-family: sans-serif;
} 
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(59, 0, 0, 0.3), rgba(59, 0, 0, 0.3)),
    url(amok.webp);
    opacity: 100%;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    position: relative;
}

img {
    width: 200px;
    /* border: 1px solid black; */
}
.navbar{
    font-size: 18px;
    width: 85%;
    height: 25px;
    margin-left: 20px;
    margin-right: 2px;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    margin-right: 10px;
    margin-left: 15vh;
    padding-left: 10px;
    margin-inline-end: auto;
    position: relative;

}
.navbar ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}
.navbar ul li a::after{
    content: '';
    height: 3px;
    width: 0;
    background:rgb(144, 0, 0);
    position: absolute;
    left: 0;    
    bottom: -10px;
    transition:0.5s ;
}
.navbar ul li a:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: black;
    padding: 1px;
}
.content h1{
    font-family:sans-serif;
    font-family: cursive;
    text-align: center;
    font-size: 5em;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    color: white;
}
.content h4{
    margin-top: 20px;
    font-size: 18px;
    color: white;
    font-size: 2em;
    font-family: cursive;
    -webkit-text-stroke: 0.5px rgb(255, 115, 0);
}
.p1 {
    /* position: relative; */
    font-size: 25px;
}

h2{
    text-align: center;
    margin-bottom: 20px;
}

.meal-container {
    padding-top: 50px;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    margin: 10px; 
}

/* Individual dish element */
.dish-element {
    margin: 10px; /* Add some margin around each dish */
    text-align: center; /* Center the text and image */
    margin-top: 10px;
    font: 1.5em san-serif;
}
/* Dish image styling */
.dish-element img {
    width: 30vh; /* Set a fixed width for the images */
    height: 22vh; /* Maintain aspect ratio */
    border-radius: 5px; /* Optional: add rounded corners */
    margin-top: 20px;
}
.Breakfast{
    display: flex;
}
.Breakfast h2{
    font: 2em san-serif;
    margin-top: 35px;
    margin-left: 35%;
}

.Lunch {
    display: flex;
}

.Lunch h2 {
    text-align: center;
    font: 2em san-serif;
    margin-top: 50%;
    margin-left: 35%;
    visibility: visible;
}

.Dinner {
    display: flex;
}

.Dinner h2 {
    text-align: center;
    font: 2em san-serif;
    margin-top: 35px;
    margin-left: 35%;
}

.p1{
    width: 100%;
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 18px;
    background-color:rgba(71, 0, 0, 1);
    
}

.p1 h2{
    font-family:sans-serif;
    font-family: cursive;
    text-align: center;
    font-size: 2em;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    color: white;
}
.p1 h5{
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif ;
    text-align: center;
    line-height: 30px;
    font-weight: 20;
    margin-top: 20px;
    
}
.p1 p {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.p2 {
    display: flex;
    align-items: center; 
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
}

.p2 h2{
    /* margin-top: 20px; */
    font-size: 18px;
    color: rgba(71, 0, 0, 1);
    font-size: 2em;
    font-family: cursive;
    text-align: center;
    -webkit-text-stroke: 0.5px white;
    margin-right: 50px;
}
.p2 h4{
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif ;
    /* text-align: left; */
    line-height: 30px;
    font-weight: 20;
    margin-top: 30px;
    margin-right: 1px;
    margin-bottom: 50px;
}
.p2 img{
    padding-left: 40vh;
    width: fit-content;
    height: 40vh;
}


footer {
    width: 100vw;
    height: fit-content;
    background-color:rgba(71, 0, 0, 1);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px 0;
}
.section, #logo {
    width: 30vw;
    /* border: 1px solid white; */
    
}

footer h1, footer p, #logo {
    /* border: 1px white solid; */
    
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    

}

.content2 {
    width: 60%;
    margin: 2px auto;
}
.icon {
    width: 20px;
    height: fit-content;
    margin-right: 10px;
}

.media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.media img {
    width: fit-content;
    height: 50px;
    /* border: 1px solid white; */
}

.media img:hover {
    height: 60px;
    width: fit-content;
}


#footer-logo{
    /* border: 1px solid white; */
    width: 130%;
    position: relative;
    left: -20px;
    
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: rgb(255, 242, 0);
}

#credit {
    height: 4vh;
    text-align: center;
    margin-top: 10px;
}

#breakfast h2, #lunch h2, #dinner h2{
    margin-top: 20px;
    margin-bottom: -10px;
}