*{
    margin: 0;
    font-family: sans-serif;
    /* border: black solid 1px; */

} 

img {
    width: 200px;
}
.navbar{
    font-size: 18px;
    width: 100%;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    margin-right: 10px;
    margin-left: 15vh;
    padding-left: 15px;
    margin-inline-end: auto;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}
.navbar ul li a::after{
    content: '';
    height: 3px;
    width: 0;
    background:rgb(144, 0, 0);
    position: absolute;
    left: 0;    
    bottom: -10px;
    transition:0.5s ;
}
.navbar ul li a:hover::after{
    width: 100%;
}

.banner{
    width: 100%;
    height: 88vh;
    background-image: linear-gradient(rgba(59, 0, 0, 0.3), rgba(59, 0, 0, 0.3)),
    url(image.jpg);
    opacity: 100%;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner div {
    margin-top: -75px;
}

.banner h1 {
    color: white;
    font-size: 7em;
    font-family: cursive;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    
}
.banner h3 {
    color: white;
    font-size: 2em;
    font-family: cursive;
    -webkit-text-stroke: 0.5px rgb(255, 191, 0);
}

#pic-source {
    color: rgba(255, 255, 255, 0.5);
    /* background-color: aliceblue; */
    width: fit-content;
    position: relative;
    top: -30px;
    left: 5px;

}

#pic-source a {
    color: rgba(255, 255, 255, 0.7);
    opacity: 75%;
}

#pic-source a:hover {
    opacity: 50%;
}

#meals {
    width: 100vw;
    height: fit-content;
    padding: 200px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}

#meals a {
    text-decoration: none;
    color: black;
}

#meals a:hover {
    opacity: 50%;
}
.meal {
    display: flex;
    align-items: center;   
}

.meal h1 {
    margin-left: 30px;
}


footer {
    width: 100vw;
    height: fit-content;
    background-color:rgba(71, 0, 0, 1);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px 0;
}
.section, #logo {
    width: 30vw;
    /* border: 1px solid white; */
    
}

footer h1, footer p, #logo {
    /* border: 1px white solid; */
    
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    
}

.content {
    width: 60%;
    margin: 2px auto;
}
.icon {
    width: 20px;
    height: fit-content;
    margin-right: 10px;
}

.media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.media img {
    width: fit-content;
    height: 50px;
    /* border: 1px solid white; */
}

.media img:hover {
    height: 60px;
    width: fit-content;
}


#footer-logo{
    /* border: 1px solid white; */
    width: 130%;
    position: relative;
    left: -20px;
    
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: rgb(255, 242, 0);
}

#credit {
    height: 4vh;
    text-align: center;
    margin-top: 10px;
}


/* Meal Page */
#title {
    width: 100vw;
} 

#goBack {
    background-color: brown;
    height: fit-content;
    padding: 20px;
    width: 100px;
    color: white;
    text-align: center;
    margin: 0 auto 50px;
    border-radius: 10px;
    border: solid 1px brown;

}

#goBack:hover {
    color: brown;
    background-color: white;
    border: solid 1px brown;
}
#breakfast, #lunch, #dinner {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    padding: 50px 0;
    
}

.item img {
    height: 25vh;
    width: 20vw;
    object-fit:cover;
    border-radius: 10px;
    margin: 10px;

}

#mealItems {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    /* width: 70vw; */
}
#breakfast .item, #lunch .item, #dinner .item {
    display:list-item; /* Default display for visible items */
    list-style: none;    
    margin: 10px 10px;
    padding: 10px;
    margin-top: 25px;
    border: 1px solid #c7aaaa;
    border-radius: 5px;
    width: 25vw;
    cursor: pointer;

}

#breakfast .item:hover, #lunch .item:hover, #dinner .item:hover {
    background-color: #fff3f3;
    scale: 110%;
}

.description {
    margin-top: 10px;
    border-top: 1px solid #c7aaaa;
    padding-top: 10px;
    
}

.show-less {
    display: block;
    margin-top: 5px;
    padding: 5px;
    color: rgb(78, 0, 0);
    border: none;
    cursor: pointer;
    margin: 10px auto;
}

.show-less:hover {
    color: rgb(240, 114, 114);

}

#filter {
    width:20vw;
    text-align: center;
    margin: 15px;
    display: block;
    border: solid black 1px;

}


.filter h3 {
    display: inline;
}
.filter input {
    background-color: #fff2f2;
    border: brown solid 1px;
    margin: 20px;
    width: 20vw;
    height: 3vh;
    border-radius: 5px;
    color: brown;
}


